[Desktop Entry]
Categories=Filesystem;
Comment[de]=
Comment=
Exec=umount %f
#Exec="m=%f; umount -- \"\$m\" && xmessage -timeout 1 \"Unmounted OK!\" || xmessage \"Could not unmount \\\"\$m\\\"!\""
GenericName[de]=Dateisystem aushängen
GenericName=Dateisystem aushängen
Icon=media-eject
MimeType=inode/directory;
Name[de]=Unmount
Name=Unmount
NoDisplay=true
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
